# This file has been generated using '.gitattributes Generator'.
# You can generate yours at http://ihopepeace.github.io/gitattributes_generator

* text=auto

# Explicitly declare text files that should be normalized and converted
# to native line endings on checkout.
*.md text
*.gitattributes text

# Declare files that should have CRLF line endings on checkout.
*.ps1 eol=crlf
*.psm1 eol=crlf
*.psd1 eol=crlf
*.psc1 eol=crlf
*.ps1xml eol=crlf
*.clixml eol=crlf
*.xml eol=crlf
*.txt eol=crlf

# Declare files that are truly binary and shouldn't be modified.
*.dll binary
*.exe binary

